/* Text colors */
/* Text Fonts */
/* Animation */
/* Layouts */
.container {
  all: unset;
  font-family: "BasierCircle", sans-serif;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
  box-sizing: border-box;
  font-family: "BasierCircle", sans-serif;
  font-size: 14px;
  color: var(--index_0_text);
  font-weight: 400;
}

@keyframes icon_appearance {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.small {
  padding: 7px 13px 7px 13px;
}

.medium {
  padding: 10px 16px 10px 16px;
}

.large {
  padding: 14px 17px 14px 17px;
}

.text.color_0_index {
  color: var(--index_0_text);
}
.text.color_0_index:hover {
  background-color: var(--index_1_5_color);
}
.outlined.color_0_index {
  color: var(--index_0_text);
  border: var(--index_1_color) 1px solid;
}
.outlined.color_0_index:hover {
  background-color: var(--index_1_5_color);
}
.contained.color_0_index {
  background-color: var(--index_1_color);
  color: var(--index_0_text);
}
.contained.color_0_index:hover {
  background-color: var(--index_1_5_color);
}
.contained.color_0_index {
  background-color: var(--index_1_color);
  color: var(--index_0_text);
}
.contained.color_0_index:hover {
  background-color: var(--index_1_5_color);
}
.link.color_0_index {
  color: var(--index_0_text);
}
.link.color_0_index .icon {
  opacity: 0;
}
.link.color_0_index:hover {
  background-color: var(--index_1_5_color);
  color: var(--index_primary_text);
}
.link.color_0_index:hover .icon {
  animation-name: icon_appearance;
  animation-duration: 0.2s;
  opacity: 1;
}
.link.color_0_index:hover .icon path {
  stroke: var(--index_primary_text);
}
.text.color_1_index {
  color: var(--index_0_text);
}
.text.color_1_index:hover {
  background-color: var(--index_3_5_color);
}
.outlined.color_1_index {
  color: var(--index_0_text);
  border: var(--index_3_color) 1px solid;
}
.outlined.color_1_index:hover {
  background-color: var(--index_3_5_color);
}
.contained.color_1_index {
  background-color: var(--index_3_color);
  color: var(--index_0_text);
}
.contained.color_1_index:hover {
  background-color: var(--index_3_5_color);
}
.contained.color_1_index {
  background-color: var(--index_3_color);
  color: var(--index_0_text);
}
.contained.color_1_index:hover {
  background-color: var(--index_3_5_color);
}
.link.color_1_index {
  color: var(--index_0_text);
}
.link.color_1_index .icon {
  opacity: 0;
}
.link.color_1_index:hover {
  background-color: var(--index_3_5_color);
  color: var(--index_primary_text);
}
.link.color_1_index:hover .icon {
  animation-name: icon_appearance;
  animation-duration: 0.2s;
  opacity: 1;
}
.link.color_1_index:hover .icon path {
  stroke: var(--index_primary_text);
}
.text.color_2_index {
  color: var(--index_0_text);
}
.text.color_2_index:hover {
  background-color: var(--index_1_5_color);
}
.outlined.color_2_index {
  color: var(--index_0_text);
  border: var(--index_1_color) 1px solid;
}
.outlined.color_2_index:hover {
  background-color: var(--index_1_5_color);
}
.contained.color_2_index {
  background-color: var(--index_1_color);
  color: var(--index_0_text);
}
.contained.color_2_index:hover {
  background-color: var(--index_1_5_color);
}
.contained.color_2_index {
  background-color: var(--index_1_color);
  color: var(--index_0_text);
}
.contained.color_2_index:hover {
  background-color: var(--index_1_5_color);
}
.link.color_2_index {
  color: var(--index_0_text);
}
.link.color_2_index .icon {
  opacity: 0;
}
.link.color_2_index:hover {
  background-color: var(--index_1_5_color);
  color: var(--index_primary_text);
}
.link.color_2_index:hover .icon {
  animation-name: icon_appearance;
  animation-duration: 0.2s;
  opacity: 1;
}
.link.color_2_index:hover .icon path {
  stroke: var(--index_primary_text);
}
.text.color_action_index {
  color: var(--index_0_text);
}
.text.color_action_index:hover {
  background-color: var(--index_3_color);
}
.outlined.color_action_index {
  color: var(--index_0_text);
  border: var(--index_3_color) 1px solid;
}
.outlined.color_action_index:hover {
  background-color: var(--index_3_color);
}
.contained.color_action_index {
  background-color: var(--index_3_color);
  color: var(--index_0_text);
}
.contained.color_action_index:hover {
  background-color: var(--index_3_color);
}
.contained.color_action_index {
  background-color: var(--index_3_color);
  color: var(--index_0_text);
}
.contained.color_action_index:hover {
  background-color: var(--index_3_color);
}
.link.color_action_index {
  color: var(--index_0_text);
}
.link.color_action_index .icon {
  opacity: 0;
}
.link.color_action_index:hover {
  background-color: var(--index_3_color);
  color: var(--index_primary_text);
}
.link.color_action_index:hover .icon {
  animation-name: icon_appearance;
  animation-duration: 0.2s;
  opacity: 1;
}
.link.color_action_index:hover .icon path {
  stroke: var(--index_primary_text);
}
.disabled {
  color: var(--index_2_text) !important;
  pointer-events: none !important;
  cursor: default !important;
}

.icon {
  height: 14px;
  width: 14px;
  transition: 0.3s;
}
.icon path {
  transition: 0.3s;
  stroke: var(--index_0_text);
}

/*# sourceMappingURL=Button.module.css.map */
