@import "../../../../scssMaterials/variables";


.container {
  all: unset;
  color: var(--index_0_text);
  font-family: $font_family;
  transition: $default_transition;
  border-radius: $border_radius;


  @include default_h4;
  @include medium_padding($left: 10px);

}
.main_container{
  width: max-content;
  height: max-content;
  position: relative;
}
.container:focus::placeholder {
  opacity: 0;
}

.container::placeholder {
  color: var(--index_2_text);
  transition: $default_transition;

  @include default_h4($weight: $font-weight-index2)

}


@each $scheme in $color_schemes {

  .#{map-get($scheme, 'class_name')} {

    background-color: map-get($scheme, 'background');


    &.disabled {

    }
  }
}
.icon{

  @include default_svg_layout;
  @include default_svg();
}