@import '../../../scssMaterials/_variables';

.header_container {
  width: 100%;
  @include small_padding()
}

.logo_href {
  all: unset;
  cursor: pointer;
}
.right_header_section{
  display: flex;
}
.right_header_show{
  display: none;
}
@media (max-width: 450px) {
  .right_header_section{

  }

}