@import '../../variables';

.container{
  all: unset;
  background-color: var(--index_2_color);
  border-radius: $border_radius;
  transition: $default_transition;

  &:hover{
    background-color: var(--index_2_5_color);
  }

  @include small_padding($vertical:5px, $horizontal:1px);
  @include default_h4();
}